.sidebar-left {
  border: 1px solid black;
}

.main {
 
}



.most-popular-posts {
  color: #0d5b49 !important;
  font-family: "Arbutus Slab", serif;
}


.most-popular-posts-card {
  width: 100%;
}

.most-popular-posts-card-header {
    background-color: #000;
    
}

.sidebar-right {
  border: 1px solid black;
}

.sidebar-right {
}

.sidebar-left {
}

@media screen and (max-width: 830px) {
  .sidebar-left,
  .sidebar-right {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .most-popular-posts {
    font-size: 14px;
  }
}
