

.most-popular-post-image {
  width: 100%;
  
}

.all-post-image {
  margin-bottom: 15px;
}

.anchor {
  text-decoration: none;
}

.title:hover,
.anchor:hover {
  color: "#ffffff";
  text-decoration: underline;
}

