.most-popular-post-image {
  width: 100%;
  height: auto;
}

.all-post-image {
  margin-bottom: 15px;
}

.title {
  font-family: "Arbutus Slab", serif;
}

.title:hover {
  color: "#ffffff";
  text-decoration: underline;
}
